{% extends "base.html" %}

{% block title %} Product List {% endblock %}

{% block content %}
<div class="container">	
	<div class="page-header">
	<h2>Product List</h2>
</div>
{% for item in list_items.object_list %}
<div class="row" style="padding-top:10">
	 <div class="span2 margin-grid">
		  <a href="#">
		 <img class="thumbnail" src="{{item.image_url}}" alt="">
		 </a>
	 </div>
	 <div class="span8">
		  <h4>{{item.title}}</h4>
		  {{item.description}}
	 </div>
	 <div class="span1" style="align:right">
		  <p><a class="btn btn-primary" href="{% url 'depotapp:view' item.id %}">View</a></a></p>
		  <p><a class="btn btn-success" href="{% url 'depotapp:edit' item.id %}">Edit</a></p>
		  <p><a class="btn btn-danger" href="#">Delete</a></p>
	 </div>
</div>
{% endfor %}
{% if list_items.has_previous %}
	<a href="?page={{ list_items.previous_page_number }}">Last Page</a>
{% endif %}

<span class="current">
	Page {{ list_items.number }} of {{ list_items.paginator.num_pages }}
</span>

{% if list_items.has_next %}
		<a href="?page={{ list_items.next_page_number }}">Next Page</a>
{% endif %}
<p>
<a href="{% url 'depotapp:create' %}">Add Product</a>
</p>
{% endblock %}